/* Styles related to insertion */
.blink {
    animation: blink-animation 0.5s steps(2, start) 10;
}

@keyframes blink-animation {
    50% {
        fill: initial;
    }
    50% {
        fill: yellow;
    }
    100% {
        fill: initial;
    }
}

@keyframes blink {
    0% {
        background-color: yellow;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: yellow;
    }
}
.new-node {
    animation: blink-animation 0.5s infinite; /* Blink animation for the new node */
}

.yellow-circle {
    animation: blink-animation 1s infinite; /* Blink animation for the yellow circle */
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
